.header {
  background-color: var(--color-4);
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 10px solid black;
  padding-bottom: 20px;
}
.left {
  display: flex;
  height: 6vh;
}

.logo {
  /* background-image: url('/src/Images/TypeTuneLogo.png'); */
  height: 150%;
  background-size: contain;
  padding-left: 30px;
}

h1 {
  font-family: 'Krona One';
  color: white;
  font-size: 3rem;
  margin-left: 50px;
  padding: 5px 0px;
  text-align: left;
}

.nav {
  display: flex;
  align-self: flex-end;
  list-style: none;
}

.nav li a {
  text-decoration: none;
  color: white;
  font-family: 'Raleway';
  font-weight: 600;
  font-size: 1.5rem;
  padding: 5px;
  margin: 5px;
  position: relative;
  bottom: 10px;
  right: 5px;
  margin-right: 50px;
}

.signInButton:hover,
.profileButton:hover,
.homebutton:hover {
  background-color: hsla(263, 90%, 32%, 1);
  padding: 10px;
  border-radius: 10px;
}

.nav .active {
  background-color: hsla(263, 90%, 32%, 1);
  padding: 10px;
  border-radius: 10px;
}

.logOutButton .active {
  background-color: (var(--color-4));
}
