footer {
  height: 3vh;
  background-color: var(--color-4);
  position: fixed;
  width: 100%;
  bottom: 0px;
  text-align: right;
  padding-top: 15px;
  border-top: 10px solid black;
}

footer a {
  text-decoration: none;
  color: white;
  font-family: 'Krona One';
  font-size: 2rem;
  margin-right: 50px;
  cursor: pointer;
}
